body{
    margin:0 auto;
}
.container{
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: azure;
}
.div1,.div2{
    height: 100vh;
    float: left;
    margin:0 auto;
    text-align: center;
    width: 50%;
    height: 95vh;
}
.items{
    padding:5px 5px 5px 150px;
    text-align: left;
}