<!DOCTYPE html>
<html lang="en" ng-app='main'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP</title>
    <script src="../JS/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div ng-controller='httpCtrl as hc'>
        <div ng-repeat='item in hc.list'>
            <a href="" ng-click='hc.filterData(item.short_name)'>({{item.id}})</a>
            {{item.name}}
        </div>
    </div>
</body>

</html>