<!DOCTYPE html>
<html lang="en" ng-app="Service">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS</title>
    <script src="../JS/jquery-3.5.1.js"></script>
    <script src="../JS/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller='AddingController as ac'>
        <input type="text" ng-model='ac.name'>
        <input type="text" ng-model='ac.quantity'>
        <button ng-click='ac.add()'>Add</button>
        <ul>
            <list-item list='ac.list' title='{{ac.title}}' remove='ac.remove'></list-item>
        </ul>
    </div>
</body>
</html>